<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>welcome to book store application  home index</h1>
    <h3>@DateTime.Now.Date</h3>
    <h3>sum = @(4 + 6)</h3>
    <hr/>
    <h3>multiline code</h3>
    @{ 
        int a = 6;
        int b = 14;
        int c = a + b;
    }
    <h3>@c</h3>
    <h4>My email - santhosh@gmail.com</h4>
    <br />
    <h4>twitter - @@santhosh__p</h4>
</body>
</html>