<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/Site.css" rel="stylesheet" />
    <title></title>
</head>
<body>

    <img src="~/images/bugg.jpg" class="logo" />
    <img src="~/MystaticFiles/bug.jpg" />

    <h1>This is book store application  home index</h1>
    <p>this is a website to get all books</p>
</body>
</html>