@{
    Layout = "_Layout";

}
            

    <img src="~/images/bugg.jpg" class="logo" alt="logo" />
    
  
    <h1>This is book store website  home index</h1>
    <p>this is a website to get all kind of books</p>
    