@{
    Layout = "_Layout";

}


<section class=" jumbotron text-center">
    <div class="container">
        <h1>WELCOME TO BOOKSTORE</h1>
        <p>
            This is a book apllication here you get all kind of books.
            whatever you want can order through this website
        </p>
        <p>
            <a href="#" class=" btn btn-primary">Search books</S></a>
        </p>
    </div>
</section>


<div class="container">
    <h3 class="h3">Top Books</h3>

    <div class="row">

        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/1.2.png" width="414" height="190" />
                <div class="card-body">
                    <h5 class="card-title"> card Title</h5>
                    <p class="card-text">This section will be used to display about book</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                    <small class="text-muted"> Authour name</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/1.2.png" width="414" height="190" />
                <div class="card-body">
                    <h5 class="card-title"> card Title</h5>
                    <p class="card-text">This section will be used to display about book</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                    <small class="text-muted"> Authour name</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="~/images/1.2.png" width="414" height="190" />
                <div class="card-body">
                    <h5 class="card-title"> card Title</h5>
                    <p class="card-text">This section will be used to display about book</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                    <small class="text-muted"> Authour name</small>
                </div>
            </div>
        </div>



    </div>

</div>
