body {
}
.logo {
    height : 10px;
    width : 30px;
}
.card-img-top {
    height:5px;
    width:10px;
}

.border-top footer text-muted text-center{
    border: dashed;
}

.bigger {
    font-size: 50px !important;
}