@using BookStore.Enums
@model BookModel
@{ 
    ViewData["HeadTitle"] = "Add newbook";
}
<div class="container">
    <h3 class="display-3">Add New Book</h3>
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>cogratulations!</strong> You have added book succesfully.<br />
            click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view the details.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


<form method="post" asp-action="AddNewBook" asp-controller="Book">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>        @*we also have (All (all error msgs including model validtion errors)ModelOnly (this for custom errors)&None(no error showed) &All(shows model property errors and custom errors)) we use these to show validation errors at top at one place this is other way to display validation errors. custom error written in model validation(BookController).*@
    @*<div class="form-group">
             <label asp-for="MyField"></label>
             <input asp-for="MyField" class="form-control" />
             <span asp-validation-for="MyField" class="text-danger"></span>
        </div>*@                                                            @*this is used here to how to generate a field in form using attribute model class.*@

        <div class="form-group">
            <label asp-for="LanguageEnum"></label>
            <select asp-for="LanguageEnum" class="form-control" asp-items="Html.GetEnumSelectList<LanguageEnum>()">
                <option value="">choose language of book</option>
                <!--<option value="English">English(global language)</option>-->                    @*here the value="English" will be added to database data presnt in tag just for frontend*@
                <!--<option value="French">French</option>
                <option value="Hindi">Hindi</option>                                          @*here we using SelectList from controller so we dont need these option tags*@
                <option value="Telugu">Telugu</option>-->
            </select>
            <span asp-validation-for="LanguageEnum" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>    @*this tag used only to display the validation error if we use other tags it will not visible*@
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" class="form-control" />
            <span asp-validation-for="TotalPages" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Add book" class="btn btn-primary" />
        </div>
    </form>
</div>